*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

header {
	background-color: #fff;
	margin-top: 50px;
	width: 100vh;
	min-height: 100%;
	padding: 10px 35px;
	border-radius: 20px;
}
.container-wrapper {
	margin-bottom: 170px;
	position: relative;
}
.header-body {
	display: grid;
	grid-auto-flow: column;
	justify-content: space-between;
	align-items: center;
	grid-gap: 20px;
	white-space: nowrap;
	margin-bottom: 100px;
}

.header-nav {
	display: grid;
	grid-auto-flow: column;
	grid-gap: 37px;
}

.header-nav__link {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	line-height: 135%;
	font-feature-settings: "pnum" on, "lnum" on, "ss02" on;
	color: #1e1e1e;
	display: block;
	text-decoration: none;
	color: inherit; /* Это чтобы он цвет брал от родителя */
}
.header-contacts {
	display: grid;
	grid-auto-flow: column;
	grid-gap: 48px;
	align-items: center;
}
.header-contacts__phone-link {
	display: grid;
	grid-auto-flow: column;
	grid-gap: 10px;
	align-items: center;
	font-weight: 500;
	font-size: 17px;
	line-height: 135%;
}
.header-contacts__phone-link::before {
	content: "";
	/* display: block; поэтому и здесь он не нужен, т.к. родитель дает от себя, но помни что нужно указывать */
	width: 15px;
	height: 15px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M15.5916 12.0085L13.4983 9.91519C12.7507 9.16759 11.4798 9.46666 11.1807 10.4385C10.9565 11.1114 10.2089 11.4852 9.53601 11.3356C8.0408 10.9618 6.02227 9.01807 5.64847 7.4481C5.42418 6.77522 5.87275 6.02762 6.54559 5.80336C7.51748 5.50432 7.81652 4.23339 7.06892 3.48579L4.97562 1.39249C4.37754 0.869169 3.48041 0.869169 2.95709 1.39249L1.53664 2.81294C0.116186 4.30815 1.68616 8.27046 5.1999 11.7842C8.71365 15.298 12.676 16.9427 14.1712 15.4475L15.5916 14.027C16.115 13.4289 16.115 12.5318 15.5916 12.0085Z' stroke='%231E1E1E' stroke-width='1.2'/%3e%3c/svg%3e ");
}
.header-contacts__social-wrapper {
	display: grid;
	grid-auto-flow: column;
	grid-gap: 20px;
}

/* block home */

.home-wrapper {
	width: 100%;
	display: grid;
	position: relative;
	justify-content: space-between;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto;
	margin-bottom: 200px;
}
.home-wrapper__info h2 {
	align-items: center;
	width: 100%;
	font-family: Raleway;
	color: rgba(30, 30, 30, 1);
	font-weight: 600;
	font-size: 45px;
	line-height: 65.75px;
	margin-bottom: 45px;
}

.home-wrapper__info-text {
	justify-content: center;
	width: 100%;
	margin-bottom: 20px;
	padding: 35px 40px 40px 40px;
	background-color: rgba(83, 136, 240, 1);
	border-radius: 20px;
	color: #fff;
	font-size: 22px;
	font-weight: 400;
	text-align: center;
	line-height: 29.7px;
}
.home-wrapper__info-text span {
	display: block;
	font-size: 22px;
	width: 100%;
	margin-bottom: 20px;
}
.partners-btn {
	padding: 18px 0px;
	width: 100%;
	border-radius: 100px;
	border: none;
	font-size: 18px;
	color: rgba(53, 109, 218, 1);
	background-color: #fff;
}

.home-wrapper__video-file {
	position: relative;
	width: 100%;
	height: 100%;
	max-width: 840px;
	max-height: 480px;
	border-radius: 20px;
	object-fit: cover;
	z-index: 4;
}
/* casback */

.home-casback {
	z-index: 5;
	width: 100%;
	display: flex;
	justify-content: space-around;
	max-width: 524px;
	padding: 15px;
	background-color: rgba(255, 211, 29, 1);
	align-items: center;
	border-radius: 20px;
	position: absolute;
	bottom: 0;
	margin-left: 64px;
	margin-top: 55px;
}

.home-casback__text {
	font-family: Raleway;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0em;
	text-align: left;
	color: rgba(30, 30, 30, 1);
}
.home-casback__text span {
	font-family: Raleway;
	font-size: 18px;
	font-weight: 600;
	line-height: 24px;
	letter-spacing: 0em;
	text-align: left;
	color: rgba(53, 109, 218, 1);
}
/* Delivery */
.delivery {
}
.delivery-wrapper {
	position: relative;
}
.delivery-bg__image-wrapper {
	position: relative;
}
.delivery-bg__image {
	width: 100%;
	z-index: 1;
	border-radius: 20px;
	margin-top: 60px;
}
.delivery-bg__image-block {
	position: absolute;
	left: 20%;
	top: 50%;
	z-index: 4;
}
.delivery-bg__image-text {
	color: var(--bold-txt, #1e1e1e);
	font-family: Raleway;
	font-size: 30px;
	font-style: normal;
	font-weight: 700;
	line-height: 135%; /* 40.5px */
	margin-bottom: 25px;
}

.delivery-bg__white {
	max-width: 1850px;
	border-radius: 20px;
	background-color: #fff;
	width: 100%;
	/* height: 100%; */
	display: flex;
	z-index: 2;
	position: absolute;
	flex-direction: row-reverse;
}
/* @media (max-width: 1265px) {
	.delivery-bg__white {
		display: block;
	}
} */

.delivery-bg__white-auto {
	width: 100%;
	height: auto;
	z-index: 3;
	max-width: 893px;
	max-height: 382px;
	position: absolute;
	margin-top: -130px;
	margin-left: -60px;
}
@media (max-width: 1450px) {
	.delivery-bg__white-auto {
		max-width: 793px;
	}
}
@media (max-width: 1360px) {
	.delivery-bg__white-auto {
		max-width: 693px;
	}
}
@media (max-width: 1215px) {
	.delivery-bg__white-auto {
		max-width: 593px;
	}
}
.delivery-bg__white-block__text {
	padding: 85px;
}
.delivery-bg__white-block__text-delivery {
	color: var(--bold-txt, #1e1e1e);
	font-family: Raleway;
	font-size: 30px;
	font-style: normal;
	font-weight: 600;
	line-height: 135%;
	margin-bottom: 20px;
}
.delivery-bg__white-block__text-delivery span {
	color: var(--blue, #356dda);
	font-family: Raleway;
	font-size: 30px;
	font-style: normal;
	font-weight: 600;
	line-height: 135%; /* 40.5px */
}
.delivery-bg__white-block__text-msk {
	color: var(--txt, #4e4e4e);
	font-family: Raleway;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 135%; /* 27px */
}
.delivery-bg__image-inp {
	width: 100%;
	max-width: 289px;
	padding: 18px 20px;
	text-align: left;
	border-radius: 100px;
	border: 1px solid var(--light, #dbe2f0);
	background: var(--white, #fff);
	margin-bottom: 20px;
	color: #b0b0b0;
	/* 18 regular */
	font-family: Raleway;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 135%; /* 24.3px */
}
.delivery-bg__image-btn {
	width: 100%;
	max-width: 289px;
	padding: 18px 20px;
	border-radius: 100px;
	background: var(--white, #fff);
	border: 1px solid var(--light, #dbe2f0);
	text-align: center;
	/* 18 medium */
	font-family: Raleway;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 135%; /* 24.3px */
	color: #5388f0;
}
/*section price */
.price-wrapper {
	width: 100%;
}
.price-title {
	width: 100%;
	color: var(--bold-txt, #1e1e1e);
	font-family: Raleway;
	font-size: 40px;
	font-style: normal;
	font-weight: 600;
	line-height: 135%;
	margin-bottom: 60px;
	text-align: center;
}
.price-cards {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: repeat(4, auto); /* ширина блока */
	grid-template-rows: repeat(2, 170px); /* высота блока */
	grid-gap: 20px;
}

.price-underwear {
	width: 100%;
	background-color: #fff;
	border-radius: 20px;
	box-shadow: 0px 0px 45px 0px rgba(130, 142, 147, 0.1);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 25px 30px;
	position: relative;
}
.price-underwear h3 {
	color: #1e1e1e;
	font-family: Raleway;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 135%;
}
.price-underwear__title {
	color: #4e4e4e;
	font-family: Raleway;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 135%;
}
.price-underwear__title-price {
	color: var(--bold-txt, #1e1e1e);
	font-family: Raleway;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 135%;
}
.price-underwear_img {
	width: 100%;
	height: 100%;
	max-width: 45px;
	max-height: 45px;
	position: absolute;
	bottom: 0;
	right: 0;
	margin-right: 28px;
	margin-bottom: 28px;
}
/* advantages */
.advantages {
	margin-bottom: 1015px;
}
.advantages-wrapper {
	height: 100%;
	position: relative;
}

.advantages-bg {
	width: 100%;
	z-index: 3;
	position: relative;
	border-radius: 20px;
}

.advantages-bg__blue {
	z-index: 2;
	width: 100%;
	background-color: #356dda;
	border-radius: 20px;
	position: absolute;
	margin-top: -105px;
	padding-bottom: 151px;
}

.advantages-bg__blue_title {
	margin-top: 195px;
	width: 100%;
	position: absolute;
	color: var(--white, #fff);
	text-align: center;
	font-family: Raleway;
	font-size: 40px;
	font-style: normal;
	font-weight: 600;
	line-height: 135%; /* 54px */
	z-index: 5;
}
.advantages-bg__blue_wrapper {
	margin-top: 315px;
	z-index: 5;
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-areas:
		"punc qual mob"
		"ozon qual conn"
		"ozon lin conn";
	grid-gap: 20px;
}

.advantages-bg__blue-card__punctuality {
	width: 100%;
	max-width: 392px;
	padding: 30px;
	background-color: #fff;
	border-radius: 20px;
	grid-area: punc;
}
.advantages-bg__blue-card__quality {
	width: 100%;
	max-width: 392px;
	padding: 30px;
	background-color: #fff;
	border-radius: 20px;
	grid-area: qual;
}
.advantages-bg__blue-card__mobility {
	width: 100%;
	max-width: 392px;
	padding: 30px;
	background-color: #fff;
	border-radius: 20px;
	grid-area: mob;
}
.advantages-bg__blue-card__linen {
	width: 100%;
	max-width: 392px;
	padding: 30px;
	background-color: #fff;
	border-radius: 20px;
	grid-area: lin;
}
.advantages-bg__blue-card__connection {
	width: 100%;
	max-width: 392px;
	padding: 30px;
	background-color: #fff;
	border-radius: 20px;
	grid-area: conn;
}
.advantages-bg__blue-card__ozonation {
	width: 100%;
	max-width: 392px;
	padding: 30px;
	background-color: #fff;
	border-radius: 20px;
	grid-area: ozon;
}
.advantages-bg__blue-card__header {
	width: 100%;
	display: flex;
	align-items: center;
	margin-bottom: 15px;
}
.advantages-bg__blue-card__header img {
	max-width: 55px;
	max-height: 55px;
}
.advantages-bg__blue-card__header h2 {
	color: var(--bold-txt, #1e1e1e);
	font-variant-numeric: lining-nums proportional-nums;
	font-family: Raleway;
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: 135%;
	margin-left: 20px;
}

.advantages-bg__blue-card__block {
	width: 100%;
	color: var(--txt, #4e4e4e);
	font-variant-numeric: lining-nums proportional-nums;
	font-family: Raleway;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 135%;
}
/* technology */
.technology {
	width: 100%;
}
.technology-wrapper {
	position: relative;
}
.technology-wrapper__header {
	color: var(--bold-txt, #1e1e1e);
	text-align: center;
	font-variant-numeric: lining-nums proportional-nums;
	font-family: Raleway;
	font-size: 40px;
	font-style: normal;
	font-weight: 600;
	line-height: 135%;
	margin-bottom: 85px;
}
.technology-wrapper__block {
	display: flex;
	align-items: center;
}
.technology-wrapper__block-vector {
	position: absolute;
	z-index: 1;
	margin-left: 130px;
	max-width: 618px;
	max-height: 413px;
}
.technology-wrapper__block-grid {
	color: var(--bold-txt, #1e1e1e);
	font-variant-numeric: lining-nums proportional-nums;
	font-family: Raleway;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	z-index: 2;
	display: grid;
	grid-template-columns: 290px 290px 290px;
	width: 100%;
	grid-gap: 20px;
	grid-template-areas:
		"sor cou pac"
		"sor iro aro"
		"dow iro aro"
		"dow dry sti"
		"opt  dry sti"
		"opt was del";
}
.technology-wrapper__block-grid span {
	color: var(--blue, #356dda);
	font-weight: 600;
}
.technology-wrapper__block-sorting {
	box-shadow: 0px 0px 45px 0px rgba(130, 142, 147, 0.1);
	width: 100%;
	max-height: 100px;
	padding: 25px 30px;
	border-radius: 20px;
	background-color: #fff;
	grid-area: sor;
}
.technology-wrapper__block-download {
	box-shadow: 0px 0px 45px 0px rgba(130, 142, 147, 0.1);
	width: 100%;
	max-height: 100px;
	padding: 25px 30px;
	border-radius: 20px;
	background-color: #fff;
	grid-area: dow;
}
.technology-wrapper__block-option {
	box-shadow: 0px 0px 45px 0px rgba(130, 142, 147, 0.1);
	width: 100%;
	max-height: 121px;
	padding: 25px 30px;
	border-radius: 20px;
	background-color: #fff;
	grid-area: opt;
}

.technology-wrapper__block-count {
	box-shadow: 0px 0px 45px 0px rgba(130, 142, 147, 0.1);
	max-height: 75px;
	width: 100%;
	padding: 25px 30px;
	border-radius: 20px;
	background-color: #fff;
	grid-area: cou;
}
.technology-wrapper__block-ironing {
	box-shadow: 0px 0px 45px 0px rgba(130, 142, 147, 0.1);
	max-height: 75px;
	width: 100%;
	padding: 25px 30px;
	border-radius: 20px;
	background-color: #fff;
	grid-area: iro;
}
.technology-wrapper__block-drying {
	box-shadow: 0px 0px 45px 0px rgba(130, 142, 147, 0.1);
	max-height: 75px;
	width: 100%;
	padding: 25px 30px;
	border-radius: 20px;
	background-color: #fff;
	grid-area: dry;
}
.technology-wrapper__block-wash {
	box-shadow: 0px 0px 45px 0px rgba(130, 142, 147, 0.1);
	max-height: 75px;
	width: 100%;
	padding: 25px 30px;
	border-radius: 20px;
	background-color: #fff;
	grid-area: was;
}
.technology-wrapper__block-package {
	box-shadow: 0px 0px 45px 0px rgba(130, 142, 147, 0.1);
	max-height: 75px;
	width: 100%;
	padding: 25px 30px;
	border-radius: 20px;
	background-color: #fff;
	grid-area: pac;
}
.technology-wrapper__block-aromatization {
	box-shadow: 0px 0px 45px 0px rgba(130, 142, 147, 0.1);
	max-height: 75px;
	width: 100%;
	padding: 25px 30px;
	border-radius: 20px;
	background-color: #fff;
	grid-area: aro;
}
.technology-wrapper__block-sticker {
	box-shadow: 0px 0px 45px 0px rgba(130, 142, 147, 0.1);
	max-height: 75px;
	width: 100%;
	padding: 25px 30px;
	border-radius: 20px;
	background-color: #fff;
	grid-area: sti;
}
.technology-wrapper__block-delivery {
	box-shadow: 0px 0px 45px 0px rgba(130, 142, 147, 0.1);
	max-height: 75px;
	width: 100%;
	padding: 25px 30px;
	border-radius: 20px;
	background-color: #fff;
	grid-area: del;
}
.technology-wrapper__block-image {
	max-width: 677px;
	max-height: 685px;
	width: 100%;
	position: absolute;
	margin-left: 820px;
	margin-top: -75px;
}
/* PARTNERS */
.partners-header {
	color: var(--bold-txt, #1e1e1e);
	text-align: center;
	font-variant-numeric: lining-nums proportional-nums;
	font-family: Raleway;
	font-size: 40px;
	font-style: normal;
	font-weight: 600;
	line-height: 135%;
	margin-bottom: 74px;
}
.partners-block {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(7, 156px);
	grid-template-rows: repeat(2, 156px);
}
.partners-block__img {
	border-radius: 20px;
}
.questions-header {
	color: var(--bold-txt, #1e1e1e);
	text-align: center;
	font-variant-numeric: lining-nums proportional-nums;
	font-family: Raleway;
	font-size: 40px;
	font-style: normal;
	font-weight: 600;
	line-height: 135%;
	margin-bottom: 60px;
}
.questions-wrapper {
	width: 100%;
	height: auto;
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: repeat(3, auto);
	grid-gap: 20px;
}
.qustions-wrapper__block-text {
	display: flex;
	justify-content: space-between;
}
.qustions-wrapper__block {
	align-items: center;
	justify-content: center;
	padding: 19px 22px 22px 30px;
	background-color: #fff;
	border-radius: 20px;
}
.qustions-wrapper__question-btn {
	border: none;
	width: 100%;
	height: auto;
	max-width: 20px;
	max-height: 20px;
	background-image: url(/img/plus\ 1.jpg);
	margin-bottom: 10px;
}

.qustions-wrapper__question {
	max-width: 498px;
	width: 100%;
	color: var(--bold-txt, #1e1e1e);
	font-variant-numeric: lining-nums proportional-nums;
	font-family: Raleway;
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: 135%;
}

.qustions-wrapper__question span {
	color: var(--blue, #356dda);
	font-variant-numeric: lining-nums proportional-nums;
	font-family: Raleway;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: 135%;
}
.question-btn {
	margin-top: 10px;
	width: 100%;
	height: auto;
	font-size: 15px;
}
/* contacts */
.contacts-header {
	color: var(--bold-txt, #1e1e1e);
	text-align: center;
	font-variant-numeric: lining-nums proportional-nums;
	font-family: Raleway;
	font-size: 40px;
	font-style: normal;
	font-weight: 600;
	line-height: 135%;
	margin-bottom: 60px;
}
.contacts-wrapper {
	display: grid;
	grid-template-columns: 701px 495px;
	grid-gap: 20px;
}
.contacts-wrapper img {
	width: 100%;
}
.contacts-wrapper__number {
	background-color: #fff;
	border-radius: 20px;
	width: 100%;
}
.contacts-wrapper__number-title {
	margin-top: 130px;
	margin-left: 90px;
}
.contacts-wrapper__number-title h2 {
	color: var(--bold-txt, #1e1e1e);
	font-variant-numeric: lining-nums proportional-nums;
	font-family: Raleway;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: 135%;
	margin-bottom: 30px;
}
.contacts-wrapper__number-title p {
	color: var(--bold-txt, #1e1e1e);
	font-variant-numeric: lining-nums proportional-nums;
	font-family: Raleway;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 135%;
	margin-bottom: 20px;
}
.contacts-wrapper__number-info__img {
	display: flex;
	align-items: center;
}
.contacts-wrapper__number-info__img-pin {
	display: flex;
	align-items: center;
}
.contacts-wrapper__number-info__img-pin img {
	max-width: 15px;
	max-height: 17px;
}
.contacts-wrapper__number-info__img-pin span {
	margin-left: 10px;
}
.contacts-wrapper__number-info__img span {
	margin-left: 10px;
}
.contacts-wrapper__number-info {
	display: grid;
	grid-gap: 20px;
	color: var(--txt, #4e4e4e);
	font-variant-numeric: lining-nums proportional-nums;
	font-family: Raleway;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 135%;
}
.contacts-wrapper__number-info__img img {
	max-width: 15px;
	max-height: 15px;
}
.contacts-wrapper__number-title__messenger {
	display: flex;
	align-items: center;
}
.contacts-wrapper__number-title__messenger span {
	margin-left: 10px;
	color: var(--blue, #356dda);
	font-variant-numeric: lining-nums proportional-nums;
	font-family: Raleway;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 135%;
}
.contacts-wrapper__number-title__messenger img {
	max-width: 20px;
	max-height: 20px;
}
.contacts-wrapper__number-title__messenger-tg {
	margin-left: 20px;
	display: flex;
	align-items: center;
}
/* down header */
.down-header {
	width: 100%;
	height: auto;
	border-radius: 20px;
	background-color: var(--white, #fff);
	display: grid;
}
.down-header__wrapper {
	padding-top: 50px;
	padding-bottom: 100px;
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.down-header__logo img {
	max-width: 186px;
	height: auto;
}
.down-header__block-menu ul {
	display: grid;
	grid-row-gap: 30px;
}
.down-header__block-contact {
	display: grid;
	grid-row-gap: 20px;
}
.down-header__block-contact__btn {
	width: 100%;
	height: auto;
	border: none;
	border-radius: 100px;
	background-color: #356dda;
	padding: 18px;
	color: var(--white, #fff);
	text-align: center;
	font-variant-numeric: lining-nums proportional-nums;
	font-family: Raleway;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 135%;
}
.down-header__block-contact h2 {
	color: var(--bold-txt, #1e1e1e);
	font-variant-numeric: lining-nums proportional-nums;
	font-family: Raleway;
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: 135%;
}
.down-header__block-contact ul {
	display: grid;
	grid-row-gap: 20px;
	color: var(--txt, #4e4e4e);
	font-variant-numeric: lining-nums proportional-nums;
	font-family: Raleway;
	font-size: 17px;
	font-style: normal;
	font-weight: 400;
	line-height: 135%;
}
