@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");
*,
*::after,
*::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	background: rgba(245, 245, 245, 1);
	font-family: Raleway;
	font-weight: 500;
	overflow-x: hidden;
}
.container {
	max-width: 1256px;
	width: 100%;
	margin: 0 auto;
	padding: 0 20px;
}
.container2 {
	max-width: 1850px;
	width: 100%;
	margin: 0 auto;
	padding: 0 20px;
}
a,
u {
	text-decoration: none;
	color: inherit;
}
header {
	width: 100%;
}
